<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>
    {% if not user.is_authenticated %}
        <li><a href="{% url 'login' %}"> zaloguj</a></li>
    {% endif %}
    <li><a href="{% url 'books_list_view' %}"> Ksiazki</a></li>
    <li><a href="{% url 'book_add_view' %}"> Dodaj Ksiazki</a></li>
    <li><a href="{% url 'authors_list_view' %}"> Autorzy</a></li>
    <li><a href="{% url 'authors_add_view' %}"> Dodaj Autora</a></li>
    <li><a href="{% url 'booksonloan_add_view' %}"> Wyporzycz</a></li>
    <li><a href=""> O Nas</a></li>
</ul>
Witaj czytelniku {{ user.username }}
{% block zawartosc %}
    Bazowy szablon
{% endblock %}
</body>
</html>